@model DungeonStoryViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Model.Headline</h1>
    <p>
        @foreach (var storyFragment in Model.StoryFragments)
        {
            if (storyFragment.IsLink)
            {
                <text><a href="/navigate/@Model.RoomName/@storyFragment.Text">@storyFragment.Text</a></text>
            }
            else
            {
                <text>@storyFragment.Text</text>
            }
        }
    </p>
    @if (Model.EndOfGame)
    {
        <p>You've reached the end of your journey, thanks for playing!</p>
        <p><a href="/">Play again</a></p>
    }
</div>
