@model Dungeon.Logic.Model.DungeonStory

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Dungeon</h1>
    <p>
        @Model.Narrative
    </p>
</div>
