@model DungeonStoryViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Dungeon</h1>
    <p>
        @foreach (var storyFragment in Model.StoryFragments)
        {
            if (storyFragment.IsLink) 
            {
                <text><a href="/home/navigate/@Model.RoomName/@storyFragment.Text">@storyFragment.Text</a></text>
            }
            else 
            {
                <text>@storyFragment.Text</text>
            }
        }
    </p>
</div>
