@model DungeonStoryViewModel

@{
    ViewData["Title"] = "Whoops...";
}

<div class="text-center">
    <h1 class="display-4">Whoops...</h1>
    <p>
        @ViewData["ErrorMessage"]
    </p>
    <p>
        <a href="/">Restart</a> your journey
    </p>
</div>
