@page "{roomId?}/{keyword?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var dungeonStory = Model.DungeonStory;
}

<div class="story-container">
    <img class="room-image" src="~/Assets/well-lit-dungeon.png" />
    <div class="story-content">
        <div class="narrative-background"></div>
        <div class="narrative">
            <h1 class="display-4">@dungeonStory.Headline</h1>
            <p>
                @foreach (var storyFragment in dungeonStory.StoryFragments)
                {
                    if (storyFragment.IsLink)
                    {
                        <text><a href="/@dungeonStory.CurrentRoomId/@storyFragment.Text">@storyFragment.Text</a></text>
                    }
                    else
                    {
                        <text>@storyFragment.Text</text>
                    }
                }
            </p>
            @if (dungeonStory.EndOfGame)
            {
                <p>You've reached the end of your journey, thanks for playing!</p>
                <p><a href="/">Play again</a></p>
            }
        </div>
    </div>
</div>
<div>Host settings @Model.DatabaseHost</div>
