@page "{message}"
@model Dungeon.RazorPages.Pages.MistakeModel
@{
    ViewData["Title"] = "Whoops...";
}

<div class="text-center">
    <h1 class="display-4">Whoops...</h1>
    <p>
        @Model.Message
    </p>
    <p>
        <a href="/">Restart</a> your journey
    </p>
</div>
